@charset "UTF-8";

:root {
    --cor0:   #732027; 
    --cor1:   #2D3B40 ;
    --cor2:   #BF2626;
    --cor3:   #d93d3dd8 ;
    --cor4:   #F2F2F2;
}
* {
    margin: 0px;
    padding: 0px;
}

 header.logo {
    background-image: linear-gradient(to left, #732027e3, #2d3b40 );
}

body {
   background-color: var(--cor2);
   }
   /*Estilisando Nav da classe menu*/
 nav {
     background-color: white;
     
    }
    nav.menu {
        width: 100%;
        height: 50%;
        font-family: sans-serif;
        
        }
    /*estilisando as listas -nav.menu ul- 'classe representa com ponto'.'*/
    nav.menu ul{
        list-style: none;
        position: relative;
        
    }
    nav.menu ul li {
        width: 170px;
        float: right;       
       display: inline;  
   }
   .menu a{
    padding: 10px;
    display: block;
    text-decoration: none;
    text-align: center;
    background-color: white;
    color: black;
   }
   nav.menu ul ul {
       position: absolute;
       visibility: hidden;
   }
   nav.menu ul li:hover ul{
    visibility: visible;
   }

  
  





















